# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# SQLite database files (ignored globally, except the one we want)
*.db
!instance/searches.db

# Flask instance folder (ignored unless explicitly allowed)
!instance/
!instance/**

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Log files
*.log
