# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder (contains local DB, configs)
instance/

# VS Code settings (optional)
.vscode/

# Mac system files
.DS_Store

# SQLite DB file (if generated outside instance/)
*.db

# Logs (optional)
*.log
